# Dependencies
node_modules

# Build outputs
dist
build

# Environment
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE
.idea
.vscode
*.swp
.DS_Store


/generated/prisma

# Tooling artifacts
.turbo
.specstory/
.cursorindexingignore
.next
*.tsbuildinfo
